<div class="flex flex-col space-y-12">
    <section class="flex flex-col space-y-10 mt-32 mb-12">
      <p
      class="text-4xl text-center text-white mx-auto py-3 bg-gradient-linear-2 rounded-2xl uppercase w-full md:w-1/2"
    >
      NOS PARTENAIRES
    </p>
      <p class="text-center text-black text-3xl">
        Ils nous font confiance
      </p>
    </section>

<div class="flex flex-row justify-between items-center max-w-screen-2xl mx-auto mt-">
    <button
    onclick="document.getElementById('slider').scrollLeft -= 300"
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary-foreground h-10 px-4 py-2 bg-transparent shadow-none hover:bg-transparent focus:bg-transparent active:bg-transparent"
      ><svg width="56" height="86" viewBox="0 0 56 86" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M49 7L13 43L49 79" stroke="#70B3C1" stroke-width="18"/>
</svg>
</button>
    <div id="slider" class="overflow-hidden flex items-center gap-5.5">
      <div class="flex space-x-12 scroll-pl-6 scroll-pr-6 justify-center items-center">
        <div class="max-w-4xl mx-auto p-6 bg-white rounded-3xl shadow-lg flex items-center space-x-4 justify-center text-center">
          <div class="flex flex-col">
            <span class="font-bold text-lg">Brice GUYOT</span>
            <p class="text-gray-500">
              Je suis impressionné par la facilité d'utilisation et la puissance des outils de cette entreprise. Leurs
              logiciels no code/low code ont révolutionné ma façon de créer des applications. Recommandé à tous les
              entrepreneurs!
            </p>
          </div>
        </div>
        <div class="max-w-4xl mx-auto p-6 bg-white rounded-3xl shadow-lg flex items-center space-x-4 justify-center text-center">
          <div class="flex flex-col">
            <span class="font-bold text-lg">Brice GUYOT</span>
            <p class="text-gray-500">
              Je suis impressionné par la facilité d'utilisation et la puissance des outils de cette entreprise. Leurs
              logiciels no code/low code ont révolutionné ma façon de créer des applications. Recommandé à tous les
              entrepreneurs!
            </p>
          </div>
        </div>
        <div class="max-w-4xl mx-auto p-6 bg-white rounded-3xl shadow-lg flex items-center space-x-4 justify-center text-center">
          <div class="flex flex-col">
            <span class="font-bold text-lg text-center ">Brice GUYOT</span>
            <p class="text-gray-500">
              Je suis impressionné par la facilité d'utilisation et la puissance des outils de cette entreprise. Leurs
              logiciels no code/low code ont révolutionné ma façon de créer des applications. Recommandé à tous les
              entrepreneurs!
            </p>
          </div>
        </div>
        
      </div>
    </div>
    
    <button
    onclick="document.getElementById('slider').scrollLeft += 300"
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary-foreground h-10 px-4 py-2 bg-transparent shadow-none hover:bg-transparent focus:bg-transparent active:bg-transparent"
      ><svg width="56" height="86" viewBox="0 0 56 86" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 79L43 43L7.00001 7" stroke="#70B3C1" stroke-width="18"/>
        </svg>
        </button>
  </div>
</div>


<style>
  @media (max-width: 639px) {
    p {
      margin-left: auto;
      margin-right: auto;
      min-width: 240px;
    }
  }
</style>