
<div id="contact" class="mt-10 bg-no-repeat" style ={ { backgroundImage: "url('src/assets/ContactBackground.png')" ,backgroundPosition: 'right bottom' ,backgroundSize:'contain'} }>
  <section class="flex flex-col space-y-12 mt-4">
    <p
    class="text-4xl text-center text-white mx-auto py-3 bg-gradient-linear-2 rounded-2xl uppercase w-full md:w-1/2"
  >
    Nous contacter
  </p>
    <p class="text-center text-black text-4xl">
      Remplissez notre formulaire de contact pour une réponse rapide
    </p>
  </section>
  <div class="p-8 rounded-lg shadow-[#16B78D] max-w-4xl mx-auto my-14 border-2 border-[#38a286] shadow-inner bg-white">
  
  <form class="space-y-4 ">
    <div class="flex space-x-2 ">
      <input
        type="text"
        placeholder="Prénom"
        class="p-2 w-1/2 border-b border-[#70B3C1] bg-transparent placeholder-black"
      />
      <input
        type="text"
        placeholder="Nom"
        class="p-2 w-1/2 border-b border-[#70B3C1] bg-transparent placeholder-black"
      />
    </div>
    <input
      type="text"
      placeholder="Téléphone"
      class="p-2 w-full border-b border-[#70B3C1] bg-transparent placeholder-black"
    />
    <input
      type="email"
      placeholder="E-mail"
      class="p-2 w-full border-b border-[#70B3C1] bg-transparent placeholder-black"
    />
    <input
      type="text"
      placeholder="Objet"
      class="p-2 w-full border-b border-[#70B3C1] bg-transparent placeholder-black"
    />
    <textarea
      placeholder="Message"
      class="p-2 w-full h-32 border-b border-[#70B3C1] bg-transparent placeholder-black"
    ></textarea>
    <div class="flex items-start">
      <input type="checkbox" id="terms" class="mt-1" class="placeholder-black" />
      <label for="terms" class="ml-2 text-sm"
        >En cochant cette case, j'accepte les conditions particulières
        ci-dessous</label
      >
    </div>
    <div
      class="bg-[#CCA43B] w-full h-12 px-6 py-5 rounded-[20px] flex-col justify-center items-center gap-2.5 inline-flex"
    >
      <button class="text-white text-xl font-bold"> Contactez-nous </button>
    </div>
  </form>
  <p class="text-xs text-gray-600 mt-4">
    Ce site est protégé par reCAPTCHA. Les règles de confidentialité et les
    conditions d'utilisation de Google s'appliquent. ** Les données personnelles
    communiquées sont nécessaires aux fins de vous contacter et sont
    enregistrées dans un fichier informatisé. Elles sont destinées à et ses
    sous-traitants dans le seul but de répondre à votre message. Les données
    collectées seront communiquées aux seuls destinataires suivants: . Vous
    disposez de droits d’accès, de rectification, d’effacement, de portabilité,
    de limitation, d’opposition, de retrait de votre consentement à tout moment
    et du droit d’introduire une réclamation auprès d’une autorité de contrôle,
    ainsi que d’organiser le sort de vos données post-mortem. Vous pouvez
    exercer ces droits par voie postale à l'adresse ou par courrier électronique
    à l'adresse . Un justificatif d'identité pourra vous être demandé. Nous
    conservons vos données pendant la période de prise de contact puis pendant
    la durée de prescription légale aux fins probatoires et de gestion des
    contentieux. Vous avez le droit de vous inscrire sur la liste d'opposition
    au démarchage téléphonique, disponible à cette adresse: Bloctel.gouv.fr.
    Consultez le site cnil.fr pour plus d’informations sur vos droits.
  </p>
</div>
</div>