<section class="flex flex-col space-y-10 text-center">
    <p class="text-4xl text-center text-white mt-32 mx-40 p-6 bg-gradient-linear-2 rounded-2xl uppercase">
        WeeDB: Votre solution intelligente de gestion de données
    </p>
    <p class="text-center text-black text-4xl font-normal ">Simplifiez la saisie et l'organisation collaboratives de vos données</div>
    </p>
    <p>Découvrez <strong>Weemake</strong>, bien plus qu'une simple <strong>platforme</strong>. Nous avons conçu <strong>Weemake</strong> pour s'adapter entièrement à vos besoins, simplifiant <br> 
        ainsi la saisie et l'organisation <strong>interactive</strong> et <strong>collaboratives</strong> de vos <strong>données</strong>. Avec <strong>Weemake</strong>, vous êtes aux <strong>commandes</strong> de votre activité en <br>
        toute <strong>simplicité</strong>. <strong>Importez</strong> aisément vos données ou saisissez-les directement, créez des <strong>liens</strong> entre elles en un <strong>clin d'oeil</strong>, partagez facilement <br>
        vos découvertes et explorez un <strong>univers</strong> de possibilités enrichissantes...
    </p>
</section>
