---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
---

<footer class="bg-[#F1F5F9] p-10 text-gray-800">
    <div class="max-w-6xl mx-auto flex flex-wrap justify-between items-center">

      <div class="flex-1 flex flex-col items-center px-6 mb-6 md:mb-0 border-r border-gray-400 md:px-10 text-center">
        <Image src={logo} alt="WeeMake Logo" class="mb-3 h-20 w-20 md:h-32 md:w-32"/> <!-- Adjust logo size as needed -->
        <p class="font-bold text-xl md:text-2xl">WeeMake</p>
        <p class="text-xs uppercase">Gestion de Cookies</p>
      </div>

      <div class="flex-1 flex flex-col items-start px-6 mb-6 md:mb-0 border-r border-gray-400 md:px-10">
        <p class="font-semibold text-lg mb-2">Navigation</p>
        <a href="/" class="cursor-pointer text-sm mb-1">Accueil</a>
        <a href="/contact" class="cursor-pointer text-sm mb-1">Contact</a>
        <a href="/mentions-legales" class="cursor-pointer text-sm">Mentions Légales</a>
      </div>

      <div class="flex-1 px-6">
        <p class="font-semibold text-lg mb-2">Coordonnées</p>
        <p class="text-sm">78 Rue de Leybardie, 33300 Bordeaux</p>
        <a href="mailto:mail@mail.com" class="text-sm block mb-1">mail@mail.com</a>
        <a href="/mentions-legales" class="cursor-pointer text-sm">Mentions Légales</a>
      </div>
    </div>
</footer>
