<script src="https://cdn.lordicon.com/lordicon.js"></script>

<div class="flex flex-col">
    <div class="w-full h-full px-4 md:px-[234px] flex flex-row justify-start items-center gap-1 md:gap-2.5">
    <div
      class="grow shrink basis-0 p-2.5 flex-col justify-center items-center gap-2.5 inline-flex"
    >
      <lord-icon
        src="https://cdn.lordicon.com/amjaykqd.json"
        trigger="hover"
        state="hover-conversation-alt"
        colors="primary:#cca43b,secondary:#16b78d"
        style="width:100px;height:100px"
      >
      </lord-icon>
      <div class="text-center text-black text-xl font-bold font-['Exo 2']">
        Adresse
      </div>
      <div class="text-center text-black text-xl font-normal font-['Exo 2']">
        78 Rue de Leybardie, 33300 Bordeaux
      </div>
    </div>
    <div
      class="grow shrink basis-0 p-2.5 flex-col justify-center items-center gap-2.5 inline-flex"
    >
      <lord-icon
        src="https://cdn.lordicon.com/cjhlqtae.json"
        trigger="hover"
        stroke="light"
        state="hover-jump-roll"
        colors="primary:#16b78d,secondary:#cca43b"
        style="width:100px;height:100px"
      >
      </lord-icon>
      <div class="text-center text-black text-xl font-bold font-['Exo 2']">
        Téléphone
      </div>
      <div class="text-center text-black text-xl font-normal font-['Exo 2']">
        05 35 54 40 16
      </div>
    </div>
    <div
      class="grow shrink basis-0 p-2.5 flex-col justify-center items-center gap-2.5 inline-flex"
    >
      <lord-icon
        src="https://cdn.lordicon.com/acydszgh.json"
        trigger="loop"
        stroke="light"
        state="loop-spin"
        colors="primary:#cca43b,secondary:#16b78d"
        style="width:100px;height:100px"
      >
      </lord-icon>
      <div class="text-center text-black text-xl font-bold font-['Exo 2']">
        E-mail
      </div>
      <div class="text-center text-black text-xl font-normal font-['Exo 2']">
        email@email.com
      </div>
    </div>
    <div>
      
    </div>
  </div>
    <div>
        <iframe
        width="100%"
        height="100%"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1dXXXXX!2d-XXXXX!3dXXXXX!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xXXXXX%3A0xXXXXX!2sLocation+Name!5e0!3m2!1sen!2s!4vXXXXXXXXX">
      </iframe>
    </div>
</div>


