<div class="mt-10">
  <section class="flex flex-col space-y-12 mt-4">
    <p
      class="text-4xl text-center text-white mx-auto py-3 bg-gradient-linear-2 rounded-2xl uppercase w-full md:w-1/2"
    >
      Mentions Légales
    </p>
    <p class="text-center text-black text-4xl">
      Informations essentielles à connaître
    </p>
  </section>
  <div
    class="p-8 rounded-lg shadow-[#16B78D] max-w-4xl mx-auto my-14 border-2 border-[#38a286] shadow-inner bg-white"
  >
    <div
      class="flex flex-col justify-center items-center text-center space-y-4"
    >
      <div class="">PROPRIÉTAIRE DU SITE</div>
      <div class="">
        Weenove  78 rue de Leybardie  33300 Bordeaux France<br />Tél : 05 35 54
        40 16
      </div>
      <div class="">CE SITE EST ÉDITÉ PAR</div>
      <div class="">Projet réalisé par les élèves de Digital Campus</div>
      <div class="">CE SITE EST HÉBERGE PAR</div>
      <div class="">“”””””</div>
    </div>
  </div>

  <div
    class="p-8 rounded-lg shadow-[#16B78D] max-w-4xl mx-auto my-14 border-2 border-[#38a286] shadow-inner bg-white"
  >
    <div
      class="grow shrink basis-0 self-stretch flex-col justify-start items-center gap-2.5 inline-flex"
    >
      <div
        class="self-stretch text-black text-xl font-normal font-['Gotham'] tracking-wide"
      >
        UTILISATION DES COOKIES
      </div>
      <div class="self-stretch">
        <span
          style="text-black text-xl font-normal font-['Gotham'] tracking-wide"
          >Nous vous informons de la présence de cookies de session sur notre
          site internet. Un cookie de session est un fichier texte qui se crée
          sur votre ordinateur. Ce fichier texte a une durée de vie limitée et
          se détruit à la fin de votre consultation. Aucune des données stockées
          de votre ordinateur ne sont inscrites dans ces cookies de session. À
          chaque fois que vous changez de page, ce fichier texte permet au
          serveur de vous reconnaître en toute sécurité. Sans cookie de session,
          vous devriez vous identifier à chaque changement de page. Nous vous
          informons également de la présence de cookies non détruits à la fin de
          votre consultation. <br />Ces cookies nous permettent d’affiner
          l’analyse de la fréquentation de notre site. Tous les résultats
          obtenus sont compilés et totalement anonymes. Dans tous les cas, vous
          avez le contrôle de ces cookies. Vous avez la possibilité de les lire,
          de les filtrer, de les refuser et de les détruire dans la
          configuration de votre navigateur interne comme suit :<br /></span
        ><span
          style="text-black text-xl font-normal font-['Gotham'] tracking-wide"
          >Sous Internet Explorer : Menu « Outils > Options Internet ». Cliquez
          sur « Confidentialité » et choisissez « Bloquer tous les cookies ».
          Validez sur « OK »<br />Sous Firefox : Menu « Outils > Options ».
          Cliquez sur l’option « Vie privée » puis désactivez les cookies dans
          la rubrique « Cookies »<br />Sous Chrome : Menu « Outils ». Cliquez
          sur « Effacer les données de navigation » et choisissez « Supprimer
          les cookies et autres données de site et de plug-in ». Validez sur «
          Effacer les données de navigation »</span>
      </div>
      <div
        class="self-stretch text-black text-xl font-normal font-['Gotham'] tracking-wide"
      >
        INFORMATIQUE ET LIBERTÉS
      </div>
      <div
        class="self-stretch text-black text-xl font-normal font-['Gotham'] tracking-wide"
      >
        Conformément à la loi du 6 janvier 1978.<br />Notre traitement
        automatisé d’informations nominatives est enregistré à la CNIL sous le
        n°1811499.<br />Vous disposez d’un droit d’accès, de modification, de
        rectification et de suppression des données vous concernant. <br />Pour
        toute demande, adressez-vous par courrier à : Weenove, 78 rue de
        Leybardie 33300 Bordeaux France
      </div>
    </div>
  </div>
</div>

<div class="mt-10 bg-no-repeat">
  <section class="flex flex-col space-y-12 mt-4">
    <p
      class="text-4xl text-center text-white mx-auto py-3 bg-gradient-linear-2 rounded-2xl uppercase w-full md:w-1/2"
    >
      POLITIQUE DE CONFIDENTIALITÉ
    </p>
    <p class="text-center text-black text-4xl">
      Informations essentielles à connaître
    </p>
  </section>
  <div
    class="p-8 rounded-lg shadow-[#16B78D] max-w-4xl mx-auto my-14 border-2 border-[#38a286] shadow-inner bg-white"
  >
    <div
      class=" text-center text-black text-xl font-normal font-['Gotham'] tracking-wide"
    >
      <h3 class="weenove-secondary-header">PRÉAMBULE</h3><br /><p
        class="cookie-usage"
      >
        Cette politique de confidentialité s’applique au site : weenove.fr,
        biwee.fr ainsi qu’au logiciel installé Biwee.
      </p><br /><p class="cookie-usage">
        Cette politique de confidentialité complète les mentions légales et les
        Conditions Générales d’Utilisation.
      </p><br /><p class="cookie-usage">
        En utilisant le site Weenove.fr, Biwee.fr ou le logiciel installé Biwee,
        vous consentez à notre politique de confidentialité.
      </p><br /><p>&nbsp;</p><br /><h3 class="weenove-secondary-header">
        1. COLLECTE DE L’INFORMATION
      </h3><br /><p class="cookie-usage">
        Nous recueillons des informations lorsque vous vous inscrivez sur notre
        site, lorsque vous vous connectez à votre compte, utilisez Biwee.fr ou
        le logiciel Biwee installé et / ou lorsque vous vous déconnectez. Les
        informations recueillies incluent votre nom, votre adresse e-mail.
      </p><br /><p class="cookie-usage">
        En outre, nous recevons et enregistrons automatiquement des informations
        à partir de votre ordinateur et navigateur, y compris votre adresse IP,
        vos logiciels et votre matériel, et la page que vous demandez.
      </p><br /><p>&nbsp;</p><br /><h3 class="weenove-secondary-header">
        2. UTILISATION DES INFORMATIONS
      </h3><br /><p class="cookie-usage">
        Toutes les informations que nous recueillons auprès de vous peuvent être
        utilisées pour :
      </p><br /><ul class="cookie-block">
        <br /><li>
          Assurer le bon fonctionnement de l’application et garantir la sécurité
          de l’accès aux éléments de chaque utilisateur
        </li><br /><li>
          Personnaliser votre expérience et répondre à vos besoins individuels
        </li><br /><li>Améliorer notre site, notre logiciel</li><br /><li>
          Améliorer le service client et vos besoins de prise en charge
        </li><br /><li>Vous contacter par e-mail</li><br />
      </ul><br /><h3>&nbsp;</h3><br /><h3 class="weenove-secondary-header">
        3. CONFIDENTIALITÉ
      </h3><br /><p class="cookie-usage">
        Nous sommes les seuls propriétaires des informations recueillies sur
        Biwee.fr et sur notre logiciel Biwee. Vos informations personnelles ne
        seront pas vendues, échangées, transférées, ou données à une autre
        société pour n’importe quelle raison, sans votre consentement, en dehors
        de ce qui est nécessaire pour répondre aux fonctionnalités de Biwee.
      </p><br /><p>&nbsp;</p><br /><h3 class="weenove-secondary-header">
        4. DÉLÉGUÉ À LA PROTECTION DES DONNÉES
      </h3><br /><p class="cookie-usage">
        L’utilisateur est informé que la personne suivante a été nommée Délégué
        à la Protection des Données :
      </p><br /><p class="cookie-usage">Julien Barbot</p><br /><p
        class="cookie-usage"
      >
        Président de Weenove SAS
      </p><br /><p class="cookie-usage">
        Le Délégué à la Protection des Données peut être joint par à l’email
        suivant : contact@weenove.fr
      </p><br /><p class="cookie-usage">
        Le rôle du Délégué à la Protection des Données est de s’assurer la bonne
        mise en œuvre des dispositions nationales et supranationales relatives à
        la collecte et au traitement des données à caractère personnel. (DPO ou
        DPO)
      </p><br /><p class="cookie-usage">
        Le Délégué à la Protection des Données peut être joint par à l’email
        suivant : contact@weenove.fr
      </p><br /><p>&nbsp;</p><br /><h3 class="weenove-secondary-header">
        5. DIVULGATION À DES TIERS
      </h3><br /><p class="cookie-usage">
        Nous ne vendons, n’échangeons et ne transférons pas vos informations
        personnelles identifiables à des tiers. Cela ne comprend pas les tierce
        parties de confiance qui nous aident à exploiter notre site Web ou
        logiciel ou à mener nos affaires, tant que ces parties conviennent de
        garder ces informations confidentielles.
      </p><br /><p>&nbsp;</p><br /><h3 class="weenove-secondary-header">
        6. PROTECTION DES INFORMATIONS
      </h3><br /><p class="cookie-usage">
        Nous mettons en œuvre une variété de mesures de sécurité pour préserver
        la sécurité de vos informations personnelles. Nous chiffrons les données
        avec les derniers standard de sécurité pour protéger les informations
        sensibles transmises en ligne. Nous protégeons également vos
        informations hors ligne. Seuls les employés qui ont besoin d’effectuer
        un travail spécifique (par exemple, la facturation ou le service à la
        clientèle) ont accès aux informations personnelles identifiables. Les
        ordinateurs et serveurs utilisés pour stocker des informations
        personnelles identifiables sont conservés dans un environnement
        sécurisé.
      </p><br /><p>&nbsp;</p><br /><h3 class="weenove-secondary-header">
        7. UTILISATION DES COOKIES
      </h3><br /><p class="cookie-usage">
        Nos cookies améliorent l’accès à Biwee.fr et vous permet de garder votre
        session ouverte. En outre, nos cookies améliorent l’expérience
        d’utilisateur grâce au suivi et au ciblage de ses intérêts. Cependant,
        cette utilisation des cookies n’est en aucune façon liée à des
        informations personnelles identifiables sur notre site.
      </p><br /><p>&nbsp;</p><br /><h3 class="weenove-secondary-header">
        8. SE DÉSABONNER
      </h3><br /><p class="cookie-usage">
        Nous utilisons l’adresse e-mail que vous fournissez pour vous envoyer
        des informations et mises à jour relatives à Biwee, des nouvelles de
        l’entreprise de façon occasionnelle, etc. Si à n’importe quel moment
        vous souhaitez vous désinscrire et ne plus recevoir d’e-mails, des
        instructions de désabonnement détaillées sont incluses en bas de chaque
        e-mail.
      </p><br /><p>&nbsp;</p><br /><h3 class="weenove-secondary-header">
        9. CONSENTEMENT
      </h3><br /><p class="cookie-usage">
        En utilisant le site Weenove.fr, Biwee.fr ou le logiciel installé Biwee,
        vous consentez à notre politique de confidentialité.
      </p>
    </div>
  </div>
</div>
