---
import Image from "astro/components/Image.astro";
import logo from '../assets/logo.png'

const navItems = [
    {
        href:"/",
        text:"Accueil"
    },
    {
        href:"#services",
        text:"Concept"
    },
    {
        href:"#about-us",
        text:"Tarifs"
    },
    {
        href:"#features",
        text:"Partenaires"
    },
    {
        href:"#features",
        text:"Formations"
    },
    {
        href:"#features",
        text:"Contact"
    },
]
---
<nav class="fixed top-0 left-0 right-0 bg-stone-50 text-center text-lg font-extrabold p-2 rounded-lg shadow-xl z-50 bg-opacity-70  mx-6">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <Image src={logo} alt="WeeMake" class="w-14 h-14" />
  </a>
  <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 " aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5 text-violet-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
    <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg  md:space-x-12 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 items-center ">
    {navItems.map((item, index) => (
        <li class='text-black'>
        <a href="#contact" class="block py-2 px-3 md:p-0 font-extrabold rounded md:bg-transparent" aria-current="page">{item.text}</a>
      </li>
            ))}
            <div class="w-[229px] py-2 bg-[#CCA43B] rounded-[20px] shadow-inner flex-col justify-center items-center gap-10 inline-flex">
              <div class="text-center text-white text-lg font-extrabold font-['Exo 2']">Réservez votre démo</div>
          </div>
    </ul>
  </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const menuButton = document.querySelector('[data-collapse-toggle="navbar-cta"]');
    const menu = document.getElementById('navbar-cta');

    menuButton.addEventListener('click', function () {
      menu.classList.toggle('hidden');
    });
  });
</script>
